block vars 
doctype html
html
  head
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    script(type="text/javascript", src="/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/bootstrap/dist/js/bootstrap.min.js")
    title TODO | #{title}
  body
    block body
