extends base

block vars
  - var title = 'Home'

block body
  .container
    .jumbotron
        h1 Basic TODO App
    .well
        h3 <a href="/register" class='btn btn-primary'>register</a> or <a href="/login" class='btn btn-primary'>login</a> to continue!
